/* main container */
.main-container {
    text-align: center;
}

.main-container h1 {
    font-size: 5rem;
    margin-top: 50px;
    margin-bottom: 5px;
    font-family: 'Righteous', cursive;
}

.main-container p {
    margin: 0;
    font-size: 1.25rem;
}

.replay-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}