@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

/* -- lr-replay -- */
.lol-replay {
    display: flex;
    gap: 2px;
    flex-wrap: wrap;
}

.lol-replay > * {
    font-family: "Roboto", sans-serif;
}

.lol-replay h1 {
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 2rem;
}

.lol-replay h2 {
    font-size: 1.25rem;
    margin-top: 0;
    margin-bottom: 5px;
}

/* -- lr-map -- */
/* base map */
.lol-replay #lr_map {
    position: relative;
}

.lol-replay #lr_map .lr-background {
    border-radius: 20px;
}

/* map dragon and pit */
.lol-replay #lr_map_dragon, .lol-replay #lr_map_pit {
    position: absolute;
    border-radius: 50%;
    border: white solid 3px;
}

/* map turrets */
.lol-replay .lr-map-turret {
    position: absolute;
}

.lol-replay .lr-map-turret.team0 {
    filter: invert(16%) sepia(93%) saturate(7125%) hue-rotate(343deg) brightness(91%) contrast(89%);
}

.lol-replay .lr-map-turret.team1 {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: invert(17%) sepia(97%) saturate(2303%) hue-rotate(207deg) brightness(93%) contrast(102%);
}

/* map champions */
.lol-replay .lr-map-champion {
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    cursor: pointer;
}

.lol-replay .lr-map-champion.team0 {
    border: lightskyblue solid 3px;
}

.lol-replay .lr-map-champion.team1 {
    border: lightcoral solid 3px;
}

/* -- lr-score -- */
.lol-replay #lr_score {
    padding-left: 12px;
    overflow: auto;
}

/* objectives */
.lol-replay #lr_score #lr_score_rift {
    color: purple;
    display: none;
    text-transform: capitalize;
}

.lol-replay #lr_score #lr_score_dragon {
    color: midnightblue;
    display: none;
    text-transform: capitalize;
}

.lol-replay #lr_score #lr_score_noobj {
    display: block;
    margin-top: 0;
}

/* player scores */
.lol-replay #lr_score #lr_score_players {
    margin-bottom: 15px;
}

.lol-replay #lr_score #lr_score_players div h2.team0 {
    color: #0062d0;
}

.lol-replay #lr_score #lr_score_players div h2.team1 {
    color: #d00000;
}

/* -- lr-slider -- */
.lol-replay #lr_slider {
    display: flex;
    gap: 10px;
    flex: 0 0 100%;
}

.lol-replay #lr_slider .lr-slider-main input {
    width: 250px;
}

/* -- lr-card -- */
.lol-replay-card {
    position: absolute;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    z-index: 99;
    font-family: "Roboto", sans-serif;
    -webkit-box-shadow: 0 1px 5px 1px rgba(0,0,0,0.93);
    box-shadow: 0 1px 5px 1px rgba(0,0,0,0.93);
}

.lol-replay-card .popup-container .close {
    cursor: pointer;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
}

.lol-replay-card .popup-container {
    display: flex;
    gap: 8px;
}

.lol-replay-card .popup-container .image img {
    width: 76px;
    height: 76px;
    border-radius: 10px;
}

.lol-replay-card .popup-container .text h3, .lol-replay-card p {
    margin: 0;
}