@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

/* lol-replay */
.lol-replay {
    display: flex;
    gap: 10px;
}

.lol-replay > * {
    font-family: "Roboto", sans-serif;
}

/* lol-replay-score */
.lol-replay-score .champion-title {
    margin-top: 0;
    margin-bottom: 5px;
}

.lol-replay-score .scoreboard .score .title {
    margin-top: 5px;
    margin-bottom: 0;
}

.lol-replay-score .scoreboard .score .title.team0 {
    color: #0062d0;
}

.lol-replay-score .scoreboard .score .title.team1 {
    color: #d00000;
}

    /* lol-replay-map */
.lol-replay-map img.background {
    border-radius: 20px;
}

.lol-replay-map img.champion {
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    border: white solid 3px;
    transition: all 0.3s;
}

.lol-replay-map img.champion.team0 {
    border: lightskyblue solid 3px;
}

.lol-replay-map img.champion.team1 {
    border: lightcoral solid 3px;
}