.lol-replay img.lr-background {
    border-radius: 20px;
}

.lol-replay img.lr-champion {
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    border: white solid 3px;
    transition: all 0.3s;
}

.lol-replay img.lr-champion:hover {
    box-shadow: 5px 5px 15px -7px #000000;
}

.lol-replay img.lr-champion.lr-team0 {
    border: lightskyblue solid 3px;
}

.lol-replay img.lr-champion.lr-team1 {
    border: lightcoral solid 3px;
}